In [1]:
from dotenv import load_dotenv
load_dotenv()

from functools import reduce
from pathlib import Path

import pandas as pd
from platechain import parse_plates

In [2]:
byonoy_df = pd.read_csv(Path.cwd().parent / 'examples/dummy_48_well_example.csv')
# Dataframe contains both results and platemap information
byonoy_df

,Unnamed: 0,1,2,3,4,5,6,7,8
0,A,0.065,0.063,0.061,0.07,0.061,0.06,0.065,0.064
1,B,0.188,0.164,0.213,0.219,0.161,0.176,0.184,0.172
2,C,0.207,0.19,0.218,0.19,0.211,0.182,0.215,0.211
3,D,0.076,0.081,0.093,0.071,0.081,0.075,0.106,0.071
4,E,0.076,0.069,0.082,0.099,0.094,0.072,0.086,0.064
5,F,0.08,0.067,0.077,0.067,0.068,0.066,0.069,0.074
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,1,2,3,4,5,6,7,8
12,A,Sample 1,Sample 2,Sample 3,Sample 4,Sample 5,Sample 6,Sample 7,Sample 8
13,B,Sample 9,Sample 10,Sample 11,Sample 12,Sample 13,Sample 14,Sample 15,Sample 16
14,C,Sample 17,Sample 18,Sample 19,Sample 20,Sample 21,Sample 22,Sample 23,Sample 24
15,D,Sample 25,Sample 26,Sample 27,Sample 28,Sample 29,Sample 30,Sample 31,Sample 32
16,E,Sample 33,Sample 34,Sample 35,Sample 36,Sample 37,Sample 38,Sample 39,Sample 40
17,F,Sample 41,Sample 42,Sample 43,Sample 44,Sample 45,Sample 46,Sample 47,Sample 48
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Sample Wavelength (nm),540,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Reference Wavelength (nm),-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Smart Validation,Pass,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Plate Well Assignment,Pass,Measured values of assigned wells indicate cor...,NaN,NaN,NaN,NaN,NaN,NaN
30,Plate Orientation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Replicates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Standards,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Can optionally add number of plates, number of rows, and number of columns here. 
res = parse_plates(byonoy_df)
res

[    row  column well  value
 0     1       1  A01  0.065
 1     1       2  A02  0.063
 2     1       3  A03  0.061
 3     1       4  A04   0.07
 4     1       5  A05  0.061
 5     1       6  A06   0.06
 6     1       7  A07  0.065
 7     1       8  A08  0.064
 8     2       1  B01  0.188
 9     2       2  B02  0.164
 10    2       3  B03  0.213
 11    2       4  B04  0.219
 12    2       5  B05  0.161
 13    2       6  B06  0.176
 14    2       7  B07  0.184
 15    2       8  B08  0.172
 16    3       1  C01  0.207
 17    3       2  C02   0.19
 18    3       3  C03  0.218
 19    3       4  C04   0.19
 20    3       5  C05  0.211
 21    3       6  C06  0.182
 22    3       7  C07  0.215
 23    3       8  C08  0.211
 24    4       1  D01  0.076
 25    4       2  D02  0.081
 26    4       3  D03  0.093
 27    4       4  D04  0.071
 28    4       5  D05  0.081
 29    4       6  D06  0.075
 30    4       7  D07  0.106
 31    4       8  D08  0.071
 32    5       1  E01  0.076
 33    5       2  E02  0.069
 34    5       3  E03  0.082
 35    5       4  E04  0.099
 36    5       5  E05  0.094
 37    5       6  E06  0.072
 38    5       7  E07  0.086
 39    5       8  E08  0.064
 40    6       1  F01   0.08
 41    6       2  F02  0.067
 42    6       3  F03  0.077
 43    6       4  F04  0.067
 44    6       5  F05  0.068
 45    6       6  F06  0.066
 46    6       7  F07  0.069
 47    6       8  F08  0.074,
     row  column well      value
 0     1       1  A01   Sample 1
 1     1       2  A02   Sample 2
 2     1       3  A03   Sample 3
 3     1       4  A04   Sample 4
 4     1       5  A05   Sample 5
 5     1       6  A06   Sample 6
 6     1       7  A07   Sample 7
 7     1       8  A08   Sample 8
 8     2       1  B01   Sample 9
 9     2       2  B02  Sample 10
 10    2       3  B03  Sample 11
 11    2       4  B04  Sample 12
 12    2       5  B05  Sample 13
 13    2       6  B06  Sample 14
 14    2       7  B07  Sample 15
 15    2       8  B08  Sample 16
 16    3       1  C01  Sample 17
 17    3       2  C02  Sample 18
 18    3       3  C03  Sample 19
 19    3       4  C04  Sample 20
 20    3       5  C05  Sample 21
 21    3       6  C06  Sample 22
 22    3       7  C07  Sample 23
 23    3       8  C08  Sample 24
 24    4       1  D01  Sample 25
 25    4       2  D02  Sample 26
 26    4       3  D03  Sample 27
 27    4       4  D04  Sample 28
 28    4       5  D05  Sample 29
 29    4       6  D06  Sample 30
 30    4       7  D07  Sample 31
 31    4       8  D08  Sample 32
 32    5       1  E01  Sample 33
 33    5       2  E02  Sample 34
 34    5       3  E03  Sample 35
 35    5       4  E04  Sample 36
 36    5       5  E05  Sample 37
 37    5       6  E06  Sample 38
 38    5       7  E07  Sample 39
 39    5       8  E08  Sample 40
 40    6       1  F01  Sample 41
 41    6       2  F02  Sample 42
 42    6       3  F03  Sample 43
 43    6       4  F04  Sample 44
 44    6       5  F05  Sample 45
 45    6       6  F06  Sample 46
 46    6       7  F07  Sample 47
 47    6       8  F08  Sample 48]

In [4]:
# Once you have the plates as tidy dataframes, you can merge them to create a clean dataset
merged = reduce(
        lambda left, right: pd.merge(left, right, on=['row', 'column', 'well'], how="outer"),
        res,
    )
merged

    row  column well value_x    value_y
0     1       1  A01   0.065   Sample 1
1     1       2  A02   0.063   Sample 2
2     1       3  A03   0.061   Sample 3
3     1       4  A04    0.07   Sample 4
4     1       5  A05   0.061   Sample 5
5     1       6  A06    0.06   Sample 6
6     1       7  A07   0.065   Sample 7
7     1       8  A08   0.064   Sample 8
8     2       1  B01   0.188   Sample 9
9     2       2  B02   0.164  Sample 10
10    2       3  B03   0.213  Sample 11
11    2       4  B04   0.219  Sample 12
12    2       5  B05   0.161  Sample 13
13    2       6  B06   0.176  Sample 14
14    2       7  B07   0.184  Sample 15
15    2       8  B08   0.172  Sample 16
16    3       1  C01   0.207  Sample 17
17    3       2  C02    0.19  Sample 18
18    3       3  C03   0.218  Sample 19
19    3       4  C04    0.19  Sample 20
20    3       5  C05   0.211  Sample 21
21    3       6  C06   0.182  Sample 22
22    3       7  C07   0.215  Sample 23
23    3       8  C08   0.211  Sample 24
24    4       1  D01   0.076  Sample 25
25    4       2  D02   0.081  Sample 26
26    4       3  D03   0.093  Sample 27
27    4       4  D04   0.071  Sample 28
28    4       5  D05   0.081  Sample 29
29    4       6  D06   0.075  Sample 30
30    4       7  D07   0.106  Sample 31
31    4       8  D08   0.071  Sample 32
32    5       1  E01   0.076  Sample 33
33    5       2  E02   0.069  Sample 34
34    5       3  E03   0.082  Sample 35
35    5       4  E04   0.099  Sample 36
36    5       5  E05   0.094  Sample 37
37    5       6  E06   0.072  Sample 38
38    5       7  E07   0.086  Sample 39
39    5       8  E08   0.064  Sample 40
40    6       1  F01    0.08  Sample 41
41    6       2  F02   0.067  Sample 42
42    6       3  F03   0.077  Sample 43
43    6       4  F04   0.067  Sample 44
44    6       5  F05   0.068  Sample 45
45    6       6  F06   0.066  Sample 46
46    6       7  F07   0.069  Sample 47
47    6       8  F08   0.074  Sample 48